#popular li{
    list-style: none;
}
#popular img{
    font-size: 0px;
}
#popular a{
    text-decoration: none;
}
#popular .bander{
    width: 100%;
    height: 30px;
    border-bottom:2px solid #02A682;
}
#popular span{
    float: left;
    margin-right: 1em;
    line-height: 30px;
    font-size: 17px;
    color: #222;
}
#popular #tabs{
    float: left;
    padding: 0;
}
#popular #tabs li{
    display:inline-block;
    font-size: 13px;
}
#popular #tabs li::after{
    content: "|";
    clear: both;
    padding: 0 6px;
    font-size: 13px;
    color: #999;
}
#popular #tabs li a{
    color: #999;
    font-size: 13px;
    line-height: 30px;
}
#popular #tabs .active{
    font-size: 17px;
    color: #222;
    line-height: 30px;
}
#popular .content{
    width: 645px;
    height: 433px;
    padding:5px 30px 0px 0px;
    background-color: #F5F7F8;
}
#popular .content .conBox{
    display: none;
}
#popular .content .conBox.current{
    display: block;
}
